<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FirstWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>web.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>login parameter</description>
    <param-name>logEnabled</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>debug level</description>
    <param-name>debugLevel1</param-name>
    <param-value>10</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage/viewErrorPage404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage/viewErrorPage500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/errorPage/viewNullException.jsp</location>
  </error-page>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/includever03/view/body.jsp</url-pattern>
      <include-prelude>/includever03/common/variable.jspf</include-prelude>
      <include-coda>/includever03/common/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>test.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>