<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCtest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>FrontController2</servlet-name>
  	<servlet-class>controller.FrontController2</servlet-class>
  	<init-param>
  		<param-name>config</param-name>
  		<param-value>/WEB-INF/commandServices.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontController2</servlet-name>
  	<url-pattern>/</url-pattern> <!-- 모든 요청에 대해서 해당 서블릿-컨트롤러가 실행되도록  -->
  </servlet-mapping>
  
  <!-- 웹 상에서 모든 요청 처리는 이제 컨트롤러로 먼저 전달된다 -> 그곳에서 사용자의 요청에 맞게 분기처리(서비스, DAO) -->
  <!-- <servlet>
  	<servlet-name>frontController</servlet-name>
  	<servlet-class>controller.FrontController</servlet-class>
  	<init-param>
  		<param-name>config</param-name>
  		<param-value>/WEB-INF/commandService.properties</param-value> 
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>frontController</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping> -->
  
  
</web-app>