@charset "UTF-8";

/* General setting */

body {
	background-color: black;
}

* {
	margin: 0px;
	padding: 0px;
	color: white;
}

.inner {	
	min-width: 640px;
}

.container {
	margin: 0 auto;
	width: 900px;
	padding: 10px;
}

a {
	text-decoration: none;
	color: white;
}

/* header */
#header {
	overflow: hidden; 
	margin-bottom: 100px;
}
.brand {
	float: left;
}
#navbar {
	float: right;
}
#navbar a {
	margin-left: 10px;
}

/* content */

.formwrap {
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}
form input {
	margin: 10px 0;
}


/* footer */
#footer {
	margin-top: 100px;
	margin-bottom: 0;
}